<tr>
  <td class="text-center"><%= badge.id %></td>
  <td class="text-center"><%= badge.name %></td>
  <td class="text-center"><%= badge.description %></td>
  <td class="text-center"><%= badge.rule_type %></td>
  <td class="text-center"><%= badge.rule_value %></td>
  <td class="text-center"><%= image_tag(badge.image_url, size: "100x100") %></td>
  <td class="text-center"><%= link_to t('actions.edit'), edit_admin_badge_path(badge) %></td>
  <td class="text-center">
    <%= link_to t('actions.delete'),
                admin_badge_path(badge),
                method: :delete,
                data: {confirm: t('actions.confirm')} %>
  </td>
</tr>
