<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p>
  <%= t('.question_number',
      number: @test_passage.test.questions.count,
      current_number: @test_passage.current_question_number)
  %>
</p>

<% if @test_passage.deadline.present? %>
  <%= content_tag :div, class: "row justify-content-center border rounded-pill timer hide",
                        data: { deadline: @test_passage.deadline.utc.to_time.iso8601 } do %>
  <% end %>
<% end %>

<p>
  <%= content_tag :div, class: "progress",
                        data: { question_number: @test_passage.current_question_number,
                                question_count: @test_passage.test.questions.count } do %>
    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  <% end %>
</p>

<b><%= @test_passage.current_question.body %></b>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids,
                                  @test_passage.current_question.answers,
                                  :id,
                                  :body,
                                  include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to t('.gist_link'), test_passage_gists_path(@test_passage), method: :post %></p>
  <p><%= form.submit t('actions.next') %></p>
<% end %>
