<footer>
  <p>
    <%= t('.year') %> <%= current_year %> ||
    <%= t('.author') %> Hanna ||
    <%= github_url('NeskladAnya', 'test-guru') %> ||
    <%= link_to t('.project'), 'https://thinknetica.com/', target: "_blank" %>
  </p>
</footer>
