<h1> <%= t('.header', title: @test.title) %></h1>

<p>
  <%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
</p>

<table>
  <tr>
    <th><%= t('.question_body')%></th>
    <th colspan="4"><%= t('.actions')%></th>
  </tr>

  <%= render @questions %>
</table><br>

<%= link_to t('nav.back'), admin_tests_path %>
<%= link_to t('nav.edit'), edit_admin_test_path %>
