<div class="row">
  <h1><%= t('.header')%></h1>

  <table>
    <thead>
      <tr>
        <th class="col"><%= t('.title') %></th>
        <th class="col"><%= t('.question_count')%></th>
        <th class="col"><%= t('.actions')%></th>
      </tr>
    </thead>
    <tbody>
      <%= render @tests %>
    </tbody>
  </table>
</div>
