<div class="row">
  <h1><%= t('.header')%></h1>

  <table>
    <thead>
      <tr>
        <th class="col sort-by-title pointer">
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th class="col"><%= t('.question_count')%></th>
        <th class="col"><%= t('.actions')%></th>
      </tr>
    </thead>
    <tbody>
      <%= render @tests %>
    </tbody>
  </table>
</div>
