<h1>Test "<%= @test.title%>"</h1>

<p>
  <%= link_to 'New question', new_test_question_path(@test) %>
</p>

<table>
  <tr>
    <th>Body</th>
    <th colspan="4">Actions</th>
  </tr>

  <%= render @questions %>
</table><br>

<%= link_to 'Back', tests_path %>
<%= link_to 'Edit', edit_test_path %>
